*{
    font-family: 'Quicksand', sans-serif;
}

body{
    display: flex;
    background-color: #7B7263;
}
li{
    color: #C9DCB3;
    text-decoration: none;
}
#navbar{
    flex-direction: column;
    color: #C6CA53;
    font-size: 1.6em;
}

#navbar > ul {
    size: 16px;
    padding: 10px;
    list-style-type: none;
}

#navbar li {
    margin: 15px;
}

#main-doc {
    color: #C8D383;
    padding: 25px;
}
a, a:link{
    text-decoration: none;
    color: inherit;
}
dt{
    color: #d3cfc9;
    border-color: #3a3e41;
    border-radius: 4px;
}

section > article > code{
    background-color: #171819;
    width: 100%;
    padding: 10px;
    display: block !important;
}
#main-doc p{
    padding: 10px;
    display: block;
    margin: 1em 1em 0px 0px;
}

#main-doc header{
    font-size: 20px;
    color: #C9DCB3;
}